body{
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    text-align: center;
    margin-top: 10px;
}

.container {
    width: 400px;
    margin: auto;
}

h1 {
    color: navy;
}

h2 {
    color: gray;
}

a {
    text-decoration: none;
    font-weight: bold;
}